<div class="container cork-board-container">
  <div class="d-flex p-5 align-items-center">
{{!-- User Contact Information --}}
    <div class="flex-column p-3 col-5 justify-content-center" id="user-content">
      <div class="flex-column justify-content-center text-center">
        <img src="/images/pushpin.png" alt="pushpin" />
        <h2 id="user-name">{{user.name}}</h2>
      </div>

      <div class="flex-column justify-content-around">
        <p class="flex-row align-items-center">
          <i class="fa-brands fa-linkedin"></i>
          {{user.linkedin}}
          Linkedin
        </p>

        <p class="d-flex align-items-center">
          <i class="fa-brands fa-github me-2"></i>
          {{user.github}}
          github
        </p>

        <p class="d-flex align-items-center">
          <i class="fa-solid fa-envelope me-2"></i>
          {{user.email}}
        </p>
      </div>
    </div>
    {{!-- Job Post Sticky Note --}}
    <div class="p-5 col col-7">
      <div class="sticky-outer">
        <div class="sticky">
          <svg width="0" height="0">
            <defs>
              <clipPath id="stickyClip" clipPathUnits="objectBoundingBox">
                <path
                  d="M 0 0 Q 0 0.69, 0.03 0.96 0.03 0.96, 1 0.96 Q 0.96 0.69, 0.96 0 0.96 0, 0 0"
                  stroke-linejoin="round"
                  stroke-linecap="square"
                />
              </clipPath>
            </defs>
          </svg>
          <div class="sticky-content flex-column justify-content-start">
            <img src="/images/pushpin.png" alt="pushpin" />
            <div>
              <p>{{body}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>