{{!--  
 <div class="container">
  <div class="container-inner">
    <div class="sticky-container">
      <div class="sticky-outer">
        <div class="sticky">
          <svg width="0" height="0">
            <defs>
              <clipPath id="stickyClip" clipPathUnits="objectBoundingBox">
                <path
                      d="M 0 0 Q 0 0.69, 0.03 0.96 0.03 0.96, 1 0.96 Q 0.96 0.69, 0.96 0 0.96 0, 0 0"
                      stroke-linejoin="round"
                      stroke-linecap="square"
                      />  
              </clipPath>
            </defs>
          </svg>
          <div class="sticky-content">
            Hello! I'm a<br>
            sticky note!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  --}}
 
 <div class="row align-center mb-5">
      <div class="col-md-6">
        <h2>{{user.name}}</h2>
      <p>{{post.body}}</p>
      <p>{{user.linkedin}}</p>
      <p>{{user.github}}</p>
      <p>{{user.email}}</p>
      </div>
    </div>